@font-face {
    font-family: "arial-narrow";
    src: url("Arial-narrow.ttf") format("truetype");
}
@font-face {
    font-family: "arial-narrow-italic";
    src: url("Arial-Narrow-italic.ttf") format("truetype");
}
@font-face {
    font-family: "arial-narrow-bold";
    src: url("Arial-Narrow-bold.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "arial-narrow", sans-serif;
}

/* landing page */
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#entry-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.entry-content {
    text-align: center;
}

#enterButton {
    background-color: transparent;
    border: solid black 1px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 10px;
}

#enterButton:active {
    margin-bottom: -20px;
}

/* nav bar */
.nav-bar {
    height: 60px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: white;
    border-bottom: solid black 1px;
}
.nav-bar a {
    font-size: 4vh;
    color: black;
    text-decoration: none;
}
a:hover {
    font-family:"arial-narrow-italic" 
}
a:active {
    padding-top: 8px;
}
.nav-spacer {
    flex-grow: 1;
}


/* about page */
.about-section {
    border-bottom: solid black 1px;
    padding: 50px 30px;
    
}
#about-header {
    width: 60%;
}
#process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 600px;
}
#colophon {
    width: 75%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: 4em;
    line-height: 1;
}
h3 {
    font-size: 2em;
    padding-top: px;
}
p {
    font-size: 1.7em;
    padding-top: 20px;
    line-height: 1.2;
}